---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #e54d1d, ##F6F55F);
}
.main-content {
  h1 {
    color: #e54d1d;
  }
  h2 {
    color: #e54d1d;
  }
  h3 {
    color: #e54d1d;
  }
}
