---
---

@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, #e54d1d, #f7bc12);
}
.main-content {
  h1 {
    color: #e54d1d;
  }
  h2 {
    color: #e54d1d;
  }
  h3 {
    color: #e54d1d;
  }
}

.project-name {
    font-family: 'Aldo Pro';
    font-size: 5.25rem;
    font-style: italic;
}

@font-face {
    font-family: 'Aldo Pro';
    src: local('Aldo Pro Medium'), local('Aldo-Pro-Medium'),
        url('./../fonts/AldoPro-Medium.woff2?raw=true') format('woff2'),
        url('./../fonts/AldoPro-Medium.woff?raw=true') format('woff'),
        url('./../fonts/AldoPro-Medium.ttf?raw=true') format('truetype');
    font-weight: 500;
    font-style: normal;
}
