<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<property name="LOGS_HOME" value="${user.home}/Burningwave/logs" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 
	<appender name="AUDIT-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/bw-core-debug.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/bw-core-debug.%d{yyyy-MM-dd}.%i.log
                        </fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>25MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	 -->
	<appender name="ERRORS-FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_HOME}/core-error.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>ERROR</level>
	        <onMatch>ACCEPT</onMatch>
	        <!-- 
	        <onMismatch>DENY</onMismatch>
	         -->
	    </filter>
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>WARN</level>
	        <onMatch>DENY</onMatch>
	    </filter>
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>INFO</level>
	        <onMatch>DENY</onMatch>
	    </filter>
	    <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>DEBUG</level>
	        <onMatch>DENY</onMatch>
	    </filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_HOME}/archived/core/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>25MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<root level="DEBUG">
		<!-- 
		<appender-ref ref="AUDIT-FILE" />
		 -->
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ERRORS-FILE" />
	</root>

</configuration>