name: Build and test

on:
  schedule:
#    - cron: "0 3-23/6 * * *"
    - cron: "0 15 * * 5"
#    - cron: "0 10,22 30 9 *"

jobs:
    
  build-and-test-with-Java-8-and-later:
    name: Build -> Test (JVM ${{ matrix.java }}, ${{ matrix.os }})
    strategy:
      fail-fast: true
      max-parallel: 15
      matrix:
        architecture: [x64]
#       architecture: [x64, x64, x64, x64, x64, x64, x64, x64]
        os: [windows-latest, macOS-latest, ubuntu-latest]
        java: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          architecture: ${{ matrix.architecture }}
      - name: Build and test
        run: mvn -B clean test -DskipTests=false --file pom.xml
