name: Build, test, check coverage & release

on:
  watch:
    types: [started]

jobs:
    
  build-and-test-with-Java-8:
    runs-on: ubuntu-latest
    if: github.actor == github.event.repository.owner.login
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        java-package: jdk  
    - name: Build & test
      run: mvn -B package -DskipTests=true -DjavadocExecutable.relativePath=../bin/javadoc --file pom.xml
